{% extends "base.html" %}
{% load staticfiles %}

{% block javascript_ctrl %}
  <script src="{% static 'js/app/ctrl/report.js' %}"></script>
{% endblock %}
{% block app_css %}
  <link rel="stylesheet" href="{% static 'css/report.css' %}">
{% endblock %}

{% block main %}
  {% verbatim %}
    <div class="container" ng-controller="ReportController as report"
         ng-class="'state-' + state">
      <h1 class="heading-primary">View Your Bills</h1>
      <form class="report-form">
        <label class="input-hero-label" for="input-billing-date">
          Billing date
        </label>
        <input class="input-hero" id="input-billing-date"
               placeholder="YYYY-MM-DD" ng-model="date"
               ng-keyup="inputUpdate($event)">
      </form>
      <div class="bill-container bill-invalid bill-error"
           ng-hide="state != 'invalid'">
        Please enter a valid date in the format YYYY-MM-DD
      </div>
      <div class="bill-container bill-unavailable bill-error"
           ng-hide="state != 'unavailable'">
        No bill found with date {{ date }}
      </div>
      <div class="bill-container bill-report" ng-hide="state != 'visible'"
           ng-include="'/static/tpl/_report.tpl'">
      </div>
    </div>
  {% endverbatim %}
{% endblock %}
