{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Sky Billing Example</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block app_css %}{% endblock %}

    <script src="{% static 'js/lib/angular.min.js' %}"></script>
    <script src="{% static 'js/app/app.js' %}"></script>
    {% block javascript_ctrl %}{% endblock %}
  </head>
  <body ng-app="skyBillingApp">
    <header class="navbar">
      <ul class="container" id="nav">
        <li class="navbar-item" id="logo">Sky</li>
        <li class="navbar-item">
          <a href="{% url 'reports' %}" target="_self">
            My bills
          </a>
        </li>
      </ul>
    </header>
    <main>
      {% block main %}{% endblock %}
    </main>
  </body>
</html>
