/**
 * Report.css
 * =============================================================================
 * Styling for billing reports.
 */
.state-loading .input-hero {
  opacity: 0.5;
}

.state-invalid .input-hero {
  color: #d9534f;
  border-color: #d9534f;
}

.state-visible .input-hero {
  border-color: rgba(105, 142, 205, 0.5);
  color: #698ecd;
}

.bill-container {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #eaeaea;
}

.bill-error {
  color: #d9534f;
}

.bill-report {
  color: #333;
}

.bill-total {
  font-size: 1.5em;
}

.bill-components {
  display: flex;
  margin-top: 40px;
}


.bill-component {
  flex: 1;
  margin-left: 40px;
}

/**
 * On smaller viewports, show the components stacked
 */
@media only screen and (max-width : 960px) {
  .bill-components {
    display: block;
  }

  .bill-component {
    margin-top: 40px;
    margin-left: 0;
  }
}

.bill-component:first-child {
  margin-left: 0;
}

.component-total {
  font-weight: 700;
}

.component-breakdown {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
  max-height: 460px;
  overflow: auto;
  font-size: 0.9em;
}

.component-line {
  padding: 10px 20px;
  background-color: #f6f6f6;
}

.component-line:nth-child(2n+1) {
  background-color: #fcfcfc;
}

.line-entry {
  display: block;
  line-height: 1.5;
}

.line-total {
  font-weight: 700;
}

