/**
 * Styles.css
 * =============================================================================
 * Base styles for the billing app.
 * Undoubtedly much of this should be modularised using Sass/Less.
 */
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 80px 0 0;
  font-size: 16px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#logo {
  width: 80px;
  height: 60px;
  background-image: url("http://assets.sky.com/dist/1218/static/sky-logo-redesign.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}

/**
 * Base elements
 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  border-bottom: 1px solid #eaeaea;
  background-color: #fafafa;
}

.navbar a {
  color: #666;
  text-decoration: none;
  font-weight: 700;
}

.navbar-item {
  display: inline-block;
  margin-left: 20px;
  line-height: 60px;
}

.navbar-item:first-child {
  margin-left: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/**
 * Headings
 */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  margin: 0 0 10px;
  padding: 0;
  font-weight: 400;
}

.heading-primary {
  font-size: 2.5em;
  color: #da0a68;
}

.heading-secondary {
  font-size: 1.75em;
  color: #698ecd;
}

.heading-tertiary {
  font-size: 1.25em;
  color: #ef870c;
}

/**
 * Inputs
 */
.input-hero-label {
  display: block;
  font-size: 1.5em;
  line-height: 2;
  color: #666;
}

.input-hero {
  transition: border-color 0.25s, color 0.25s;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: #333;
}

.input-hero:focus {
  outline: none;
}
